<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>List of car</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Cars</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cars}">List car</a>
      </li>
    </ul>
  </div>
</nav>

	<div class = "container">
		<div class = "row">
			<h1>Список машин</h1>
		</div>	
		<div class = "row">
			<div class = "col-lg-3">
			<a th:href = "@{/cars/new}" class = "btn btn-primary">Добавить машину </a>
			</div>
		</div>
		<table class = "table table-dark table-bordered">
			<thead class = "table-dark">
			 	<tr>
			 		<th>Название</th>
			 		<th>Производитель</th>
			 		<th>Цена</th>
			 		<th>Действие</th>
			 	</tr>	
			</thead>
			
			<tbody>
			<tr th:each = "car: ${cars}">
				<td th:text = "${car.name}"></td>
				<td th:text = "${car.manufacturer}"></td>
				<td th:text = "${car.cost}"></td>
				<td>
					<a th:href = "@{/cars/update/{id}(id = ${car.id})}"
					class = "btn btn-primary">Обновить</a>
					
					<a th:href = "@{/cars/{id}(id = ${car.id})}"
					class = "btn btn-danger">Удалить</a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</body>
</html>