<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update car</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Cars</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/cars}">List car</a>
      </li>
    </ul>
  </div>
</nav>

	<div class = "container">
		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<h1 class = "text-center">Обновить информацию об автомобиле</h1>
			<div class = "card-body">
			<div>
				<form th:action = "@{/cars/{id}(id = ${car.id})}" th:object = "${car}" method = "POST">
					<div class = "form-group">
						<label>Название</label>
						<input 
						type = "text" 
						name = "name" 
						th:field = "*{name}" 
						class = "form-control" 
						placeholder = "Введите название"
						/>
					</div>
					
					<div class = "form-group">
						<label>Производитель</label>
						<input 
						type = "text" 
						name = "manufacturer" 
						th:field = "*{manufacturer}" 
						class = "form-control" 
						placeholder = "Введите производителя"
						/>
					</div>
					
					<div class = "form-group">
						<label>Цена</label>
						<input 
						type = "number" 
						name = "cost" 
						th:field = "*{cost}" 
						class = "form-control" 
						placeholder = "Введите цену"
						/>
					</div>
					
					<div class = "box-footer">
						<button type = "submit" class = "btn btn-primary">Обновить</button>
					</div>
					
				</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>